<header>
  <div id="header_content">
    <img src="images/knockknock-logo.png"/>
  </div>
</header>
<nav>
  <div id="nav_content">
    <ul>
      <li><p>Home</p></li>
      <li><p>Login</p></li>
      <li><p>Logout</p></li>
      <li><p>Register</p></li>
    </ul>
  </div>
</nav>

<div id="champagne">
</div>

<div id="euphoria">
</div>

<div id="message">
  <% message = "You are not logged in" %>
  <% unless id.nil? %>
    <% message = "Welcome, #{email}" %>
  <% end %>
  <h1><%= message %></h1>
</div>



<div id="links">
<% if id.nil? %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% else %>
  <a href="/logout">Logout</a>
  <% if admin %>
    <a href="/users">View all users</a>
  <% end %>
<% end %>
</div>

<footer>
  <a href="/bogus1">Check This Out!</a>
  <a href="/bogus2">And This!</a>
  <a href="/bogus3">Me too!</a>
</footer>

