<!DOCTYPE html>
<html>
<head>

</head>
<body>
<% message = "You are not logged in" %>
<% unless email.nil? %>
  <% message = "Welcome, #{email}" %>
<% end %>
<h1><%= message %></h1>

<% if email.nil? %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% else %>
  <a href="/logout">Logout</a>
  <a href="/">View all users</a>
<% end %>
</body>
</html>
