<nav>
<p class="home_link"><a href="/">Home</a></p>
<p class="welcome">Welcome, <%= email %>       |<a href="/logout">logout</a></p>
</nav>

<div class="table">
  <h1>Users</h1>
<table class="user_table">
  <tr>
    <td class="i">ID</td>
    <td class="i">Email</td>
  </tr>
  <% DB[:users].each do |user| %>
  <tr class="j">
    <td><%= user[:id]%></td>
    <td><%= user[:email]%></td>
  </tr>
    <% end %>
</table>
</div>