body {
    font-family: 'Sniglet', cursive;
    background-color: orange;
    text-align: center;
}

td  {
    padding: 20px;
    margin: 20px;
    text-align: left;
}

table {
    margin: auto;
}

h1 {
    margin: auto;
    font-size: 50px;
    padding-top: 40px;
}

a {
    font-size: 1.5em;
    margin: 50px;
    padding-top: 50px;
}

.error {
    color: red;
}

.user_table tr td {
  border: 1px solid black;
}

.home_link {
    float: left;
}

.welcome {
    float: right;
}

.table {
    clear:both;
    text-align: left;
    margin-left: 0px;
    padding: 30px;
}

.table table {
    margin-left: 0px;
    margin-top: 40px;
}

.i {
    background-color: dimgray;
}

.j:nth-child(even) {
    background-color: darkgray;
}

.j:nth-child(odd) {
    background-color: lightgrey;
}